body {
    font-family: 'Poppins', sans-serif;
    overflow: auto;
}

.navbar.active {
    background-color: #57AC49;
    box-shadow: 0px 4px 10px hsla(0, 0%, 0%, 0.05);
    ;
}

.navbar.navbar-anim {
    animation: slide-in 1s ease forwards;
}

@keyframes slide-in {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

.navbar-collapse>.navbar-nav>.nav-item {
    margin-right: 20px;
}

/* Hero Section */
.jumbotron {
    background-color: #57AC49;
    display: flex;
    transform: skewY(3deg);
    transform-origin: top right;
    margin: 0 5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-bottom: 80px;
}

.jumbotron .container {
    margin: 200px auto 0px;
    transform: skewY(-3deg);
}

.hero-image {
    position: relative;
    margin: 0px 0 0 0;
}

.hero-image>img {
    max-width: 100%;
    height: auto;
}

/* text */
.content-left {
    width: 800px;
    height: auto;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-direction: column;
    margin-top: -50px;
}

.title {
    display: flex;
    position: relative;
    margin-bottom: 50px;
    flex-direction: column;
    justify-content: center;
}

.text-title {
    color: #fbfbfb;
    font-size: 86px;
    font-style: Regular;
    font-family: Avture;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
}

.traced {
    width: 350px;
    height: 40px;
    position: relative;
}

.text-sub {
    width: 600px;
    display: flex;
    position: relative;
    flex-direction: column;
}

.text-text05 {
    color: #ffffff;
    height: auto;
    opacity: 0.90;
    font-size: 20px;
    line-height: 34px;
    margin-bottom: 30px;
}

.utils {
    display: flex;
    position: relative;
    align-items: center;
}

.utils>a {
    padding: 12px 36px;
    background-color: rgba(255, 255, 255, 1);
    border: 1.8px solid rgba(248, 182, 60, 1);
    color: rgba(0, 0, 0, 0.7);
    margin-right: 24px;
    font-weight: 600;
}

.know-more {
    display: flex;
    position: relative;
    align-items: center;
}

.text-know-more {
    color: #ffffff;
    height: auto;
    font-size: 20px;
    margin-right: 10px;
}


/* About Us Section */
.about-us {
    padding: 5rem 0;
}

.text-left>.section-title-about,
.text-left>.section-sub-title {
    margin-left: 35px;
}

.section-title-about {
    color: rgba(16, 33, 34, 1);
    opacity: 0.25;
    font-size: 28px;
    font-style: Bold;
    font-weight: 700;
}

.section-sub-title {
    line-height: 1.5;
}

.vertical-line {
    width: 20rem;
    height: 4px;
    background-color: #F8B63C;
    border-radius: 3px;
    margin-bottom: 26px;
}

.text-about>p {
    font-size: 18px;
    color: #102123;
}

.learn-more {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 3;
}

.learn-more>i {
    color: #F8B63C;
}

.text-learn-more {
    color: #F8B63C;
    height: auto;
    font-weight: 600;
    text-decoration-thickness: 2px;
    font-size: 18px;
    margin-right: 10px;
}

.text-learn-more:hover,
.text-learn-more:hover+.bi-arrow-up-right {
    color: #57AC49;
}

.image-section {
    float: right;
    margin-right: -20px;
}

.image-section>img {
    border-radius: 12px 0 0 12px;
    filter: brightness(0.88);
}

.bg-mask {
    position: absolute;
    top: 18rem;
    right: -22rem;
    z-index: 1;
}

/* start wrapper */
.wrapper {
    float: left;
    margin-left: -4rem;
    margin-top: 7rem;
}

.side-content {
    display: flex;
    position: relative;
}

.why {
    color: rgba(16, 33, 34, 1);
    opacity: 0.80;
    margin-left: 100px;
    font-size: 28px;
    font-style: Bold;
    font-weight: 700;
}

.rectangle-primary {
    background-color: #57AC49;
    top: 60px;
    left: 47px;
    width: 750px;
    height: 140px;
    position: absolute;
}

.rectangle-secondary {
    background-color: #7BC270;
    top: 210px;
    left: 47px;
    width: 750px;
    height: 17px;
    position: absolute;
}

.ellips-left {
    position: absolute;
    background-color: #F8B63C;
    top: 35px;
    left: 0px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.ellips-right {
    background-color: #F8B63C;
    border-radius: 100% 0 0 0;
    top: 187px;
    left: 757px;
    width: 40px;
    height: 40px;
    position: absolute;
}

.group-text {
    top: 92px;
    left: 115px;
    display: flex;
    flex-direction: row;
    position: absolute;
}

.text-item {
    display: flex;
    margin-right: 30px;
    flex-direction: column;
}

.text-head {
    color: rgba(255, 255, 255, 1);
    font-size: 30px;
    font-style: SemiBold;
    font-weight: 600;
}

.text-sub-head {
    color: rgba(255, 255, 255, 1);
    opacity: 0.8;
    font-size: 14px;
}

.text-item>.one {
    width: 140px;
}

.text-item>.two {
    width: 160px;
}

.text-item>.three {
    width: 180px;
}

/* end wrapper About us */

/* Service Section */
.services {
    padding: 3rem 0;
    position: relative;
}

.section-title {
    color: rgba(16, 33, 34, 1);
    opacity: 0.25;
    font-size: 20px;
    font-style: Bold;
    font-weight: 700;
}

.section-sub-title {
    color: #254C50;
}

.card {
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.card img {
    width: 100%;
    filter: brightness(0.9);
}

.card-body {
    color: rgb(255, 255, 255);
    background-color: #57AC49;
    height: auto;
    padding: 10px;
}

.card-info {
    color: rgb(255, 255, 255);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(27, 25, 25, 0.55);
    padding: 1rem;
    backdrop-filter: blur(1rem);
    transform: translateY(100%);
    transition: transform 0.3s ease-in;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card:hover .card-info {
    transform: translateY(0);
}

.services>.circle-left {
    position: absolute;
    top: 50px;
    left: -18rem;
}

.services>.circle-left>img {
    width: 70%;
}

.services>.circle-right {
    position: absolute;
    top: 50px;
    right: -18rem;
    z-index: 1;
}

.services>.circle-right>img {
    width: 75%;
}

/* How it Works Sections */
.how-it-works {
    padding: 3rem 0;
}

.content {
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 80px;
}

.content-img>img {
    width: 300px;
    height: 320px;
    margin: 10px 5px;
    border-radius: 12px;
    filter: brightness(0.9);
}


/* FAQ Sections */
.faq {
    padding: 5rem 0;
}

.faq>.container>.row>.vl {
    border-left: 2px solid #F8B63C;
    height: 140px;
    width: 1px;
}

.faq-item {
    padding: 0;
    width: 700px;
    border-radius: 5px;
    padding: 10px 16px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 12px 30px 0px rgba(16, 33, 35, 0.06);
}

.faq-item>.btn {
    width: 100%;
    text-align: left;
}

.fa-leaf {
    color: #57AC49;
    margin-right: 12px;
}

.faq-item>a {
    font-size: 16px;
    position: relative;
}

.bi-chevron-down {
    position: absolute;
    right: 10px;
}

.text-accordion {
    font-size: 15px;
    background-color: transparent;
    color: #102123;
    padding: 5px 10px 10px;
}


/* Footer Section */
.info {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}

.links {
    display: flex;
}

.logo-socmed {
    display: flex;
    margin-right: 150px;
    flex-direction: column;
}

.logo-socmed>img {
    margin-bottom: 24px;
    width: 150px;
}

.social-links>a {
    font-size: 18px;
    display: inline-block;
    background: rgb(221, 221, 221);
    line-height: 1;
    padding: 10px 0;
    margin-right: 12px;
    border-radius: 50%;
    text-align: center;
    width: 40px;
    height: 40px;
    transition: 0.3s;
}

.social-links>a>i {
    color: #254C50;
}

.social-links a:hover {
    background: #57AC49;
}

.social-links a:hover>i {
    color: #fff;
}

.useful-links {
    display: flex;
    position: relative;
}

.website {
    display: flex;
    margin-right: 100px;
    flex-direction: column;
}

.more {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.website>span,
.more>span {
    color: rgba(37, 76, 80, 1);
    font-size: 20px;
    font-style: Medium;
    font-weight: 500;
    margin-bottom: 24px;
}

.web-links,
.more-links {
    display: flex;
    align-items: flex-start;
    border-color: transparent;
    flex-direction: column;
}

.web-links>a,
.more-links>a {
    color: rgba(37, 76, 80, 1);
    margin-bottom: 16px;
    height: auto;
    opacity: 0.80;
    font-size: 16px;
    font-style: Regular;
    font-weight: 400;
    text-decoration: none;
}

.web-links>a:hover,
.more-links>a:hover {
    color: #57AC49;
}

.address {
    display: flex;
    flex-direction: column;
}

.send-mail,
.github {
    display: flex;
    margin-bottom: 24px;
}

.send-mail>i,
.github>i {
    width: 40px;
    height: 40px;
    font-size: x-large;
}

.send-mail>span,
.github>span {
    color: rgba(37, 76, 80, 1);
    padding-top: 4px;
    height: auto;
    font-size: 16px;
    font-style: Regular;
    font-weight: 400;
}

.copyright {
    color: rgba(37, 76, 80, 1);
    margin-top: 5rem;
    font-size: 20px;
    font-style: SemiBold;
    text-align: center;
    font-weight: 600;
}

/* Back to Top */
ion-icon {
    display: block;
}

.back-top-btn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    background-color: #F8B63C;
    color: #fff;
    font-size: 22px;
    padding: 12px;
    border-radius: 50%;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    transition: 0.25s ease;
}

.back-top-btn.active {
    opacity: 1;
    color: #fff;
    background-color: orange;
    visibility: visible;
    transform: translateY(-10px);
}