/* Styleguide */
@import "styleguide.css";


/* Body Section */
html {
    overflow-x: hidden;
}

body {
    font-family: var(--ff-poppins);
    overflow: auto;
}

.about-us,
.services,
.how-it-works,
.testimonials,
.gallery,
.faq {
    padding: 5rem 0 3rem;
}

.about-us,
.services,
.testimonials {
    position: relative;
}


.section-title {
    color: var(--cyan-darken);
    font-size: 20px;
    font-style: Bold;
    font-weight: 700;
}

.section-sub-title {
    color: var(--greenish-black);
    font-weight: bold;
}


/* Navbar Section */
.navbar>.container>.navbar-brand:hover {
    transition: all .2s ease-in;
}

.navbar>.container>.navbar-brand:hover {
    transform: scale(1.05);
}

.navbar.active {
    background-color: var(--green-primary);
    box-shadow: 0px 4px 10px var(--shadow-5);
}

.navbar.navbar-anim {
    animation: slide-in 1s ease forwards;
}

@keyframes slide-in {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

.navbar-collapse>.navbar-nav>.nav-item {
    margin-right: 20px;
}


/* Hero Section */
.canvas {
    background-color: var(--green-primary);
    display: flex;
    transform: skewY(3deg);
    transform-origin: top right;
    margin: 0 8px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-bottom: 80px;
    position: relative;
}

.canvas .container {
    margin: 150px auto 0px;
    transform: skewY(-3deg);
}

.canvas>.hero-image {
    position: absolute;
    right: 5rem;
    bottom: -7rem;
    transform: skewY(-3deg);
}

.canvas>.hero-image>img {
    width: 680px;
    height: auto;
}

.container>.row>.content-left {
    display: flex;
    flex-direction: column;
}

.content-left>.title {
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    justify-content: center;
}

.content-left>.title>h1 {
    color: var(--white-light-shade);
    font-size: 86px;
    font-style: Regular;
    font-family: var(--ff-avture);
    font-weight: 400;
}

.content-left>.title>.traced {
    width: 350px;
    height: 40px;
}

.content-left>.sub-title {
    width: 600px;
    display: flex;
    flex-direction: column;
}

.content-left>.sub-title>p {
    color: var(--white-9);
    font-size: 20px;
    line-height: 34px;
    margin-bottom: 30px;
}

.content-left>.sub-title>.utils {
    display: flex;
    align-items: center;
}

.sub-title>.utils>.try-now {
    padding: 12px 36px;
    background-color: var(--white);
    border: none;
    color: var(--green-primary);
    margin-right: 25px;
}

.sub-title>.utils>.try-now:hover {
    background-color: var(--orange-peel);
    color: var(--white);
}

.sub-title>.utils>.know-more {
    color: var(--white);
    font-size: 18px;
    text-decoration: none;
}

.sub-title>.utils>.know-more:hover {
    color: var(--whitesmoke);
}

/* `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    .canvas>.hero-image {
        right: 1rem;
    }

    .content-left>.sub-title {
        width: 490px;
    }
}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .canvas {
        flex-direction: column;
    }

    .content-left>.title>h1 {
        font-size: 80px;
    }

    .content-left>.sub-title {
        width: 100%;
    }

    .canvas>.hero-image {
        position: relative;
        right: 0rem;
        bottom: 4rem;
        margin: auto;
        z-index: -1;
    }

    .canvas>.hero-image>.overlays {
        width: 680px;
        height: 360px;
        background-color: var(--green-primary);
        visibility: hidden;
    }

    .canvas>.hero-image>img {
        position: absolute;
    }
}

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .content-left>.title>h1>br {
        display: none;
    }

    .canvas>.hero-image {
        bottom: 2rem;
    }

    .canvas>.hero-image>.overlays {
        width: 550px;
        height: 290px;
    }
}

/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .canvas>.hero-image>.overlays {
        width: 500px;
        height: 260px;
    }
}


/* About Us Section */
.about-us>.container-fluid {
    position: relative;
}

.about-us>.container-fluid>.row>.text-left>span,
.about-us>.container-fluid>.row>.text-left>h2 {
    margin-left: 35px;
}

.about-us>.container-fluid>.row>.text-left>span {
    color: var(--cyan-dark);
    opacity: 0.25;
    font-size: 28px;
    font-style: Bold;
    font-weight: 700;
}

.about-us>.container-fluid>.row>.text-left>h2 {
    color: var(--greenish-black);
    line-height: 1.5;
}

/* Start wrapper */
.container-fluid>.wrapper {
    float: left;
    margin-top: -18rem;
    z-index: -1;
}

.wrapper>.side-content {
    display: flex;
    position: relative;
    flex-direction: column;
}

.wrapper>.side-content>.why {
    color: var(--cyan-dark-8);
    margin: 0 0 20px 30px;
    font-size: 28px;
}

.wrapper>.side-content>.rectangle-primary {
    position: relative;
    width: 650px;
    height: 160px;
    background-color: var(--green-primary);
}

.side-content>.rectangle-primary>.group-text {
    display: flex;
    margin: 2rem auto 3rem;
    padding-left: 3rem;
    z-index: 2;
}

.rectangle-primary>.group-text>.text-item {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.group-text>.text-item>.text-head {
    color: var(--white);
    font-size: 30px;
}

.group-text>.text-item>.text-sub-head {
    color: var(--white-8);
    font-size: 14px;
}

.rectangle-primary>.rectangle-secondary {
    position: absolute;
    height: 20px;
    width: 100%;
    bottom: 0;
    background-color: var(--green-light);
}

.rectangle-primary>.ellips-left {
    position: absolute;
    background-color: var(--orange-peel);
    top: -30px;
    left: -50px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    z-index: 1;
}

.rectangle-primary>.ellips-right {
    position: absolute;
    background-color: var(--orange-peel);
    border-radius: 100% 0 0 0;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 40px;
}

/* End wrapper About Us */

.about-us>.container-fluid>.row>.text-about {
    z-index: 2;
}

.about-us>.container-fluid>.row>.text-about>.horizontal-line {
    width: 20rem;
    height: 4px;
    background-color: var(--orange-peel);
    border-radius: 3px;
    margin-bottom: 26px;
}

.about-us>.container-fluid>.row>.text-about>p {
    font-size: 18px;
    color: var(--cyan-dark);
}

.text-about>.learn-more {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 3;
}

.text-about>.learn-more>i {
    color: var(--orange-peel);
}

.text-about>.learn-more>a {
    color: var(--orange-peel);
    font-weight: 600;
    text-decoration-thickness: 2px;
    font-size: 18px;
    margin-right: 10px;
}

.text-about>.learn-more>a:hover,
.text-about>.learn-more>a:hover+.bi-arrow-up-right {
    color: var(--green-primary);
}

.text-about>.image-section {
    float: right;
    margin-right: -20px;
}

.text-about>.image-section>img {
    border-radius: 12px 0 0 12px;
    filter: brightness(0.88);
}

.about-us>.bg-mask {
    position: absolute;
    top: 15rem;
    right: -10rem;
    z-index: 1;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.about-us>.bg-mask>img {
    width: 50%;
    transform: scale(1.3)
}

/* `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    .container-fluid>.wrapper {
        margin-top: 3rem;
    }
}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .about-us>.container-fluid>.row>.text-about {
        margin-top: 0 !important;
    }

    .about-us>.container-fluid>.row>.text-about>.horizontal-line,
    .about-us>.container-fluid>.row>.text-about>.learn-more,
    .about-us>.container-fluid>.row>.text-about>p {
        margin-left: 35px;
    }

    .about-us>.container-fluid>.row>.text-about>.horizontal-line {
        width: 250px;
    }

    .text-about>.learn-more {
        margin-top: 20px !important;
    }
}

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

    .text-about>.image-section,
    .container-fluid>.wrapper {
        display: block !important;
        float: none !important;
        margin-right: -20px;
        margin-left: -20px;
    }

    .text-about>.image-section>img {
        width: 100%;
        border-radius: 0 !important;
    }

    .wrapper>.side-content>.why {
        margin: 0 auto 20px;
    }

    .rectangle-primary {
        overflow: hidden;
    }

    .wrapper>.side-content>.rectangle-primary {
        width: 100%;
        margin: 0;
    }

    .side-content>.rectangle-primary>.group-text {
        padding-left: 10px;
        margin: 2rem auto;
        justify-content: space-evenly;
    }

    .rectangle-primary>.group-text>.text-item {
        margin-right: 0;
    }
}

/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .wrapper>.side-content>.rectangle-primary {
        height: auto;
    }

    .side-content>.rectangle-primary>.group-text {
        justify-content: center;
        flex-wrap: wrap;
    }

    .rectangle-primary>.group-text>.text-item {
        align-items: center;
        margin: 10px 20px;
    }

    .rectangle-primary>.ellips-right {
        width: 80px;
        height: 80px;
    }
}


/* Service Section */
.services>.container>.row>a>.cardBox {
    margin: 0 auto;
    width: 356px;
    height: 420px;
    position: relative;
    display: grid;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
}

.cardBox>.card {
    position: absolute;
    width: 95%;
    height: 95%;
    background: var(--white);
    border-radius: 20px;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: var(--white);
    overflow: hidden;
    padding: 20px;
    cursor: pointer;
}

.cardBox>.card>img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.9);
}

.cardBox>.card>.card-info {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--red-black);
    padding: 1rem;
    transform: translateY(100%);
    transition: transform 0.5s ease-in;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.cardBox>.card:hover .card-info {
    transform: translateY(0);
}

.cardBox::before {
    content: "";
    position: absolute;
    width: 40%;
    height: 150%;
    background: -webkit-linear-gradient(to right, var(--pink), var(--orange-peel), var(--green-light));
    background: linear-gradient(to right, var(--pink), var(--orange-peel), var(--green-light));
    animation: glowing01 5s linear infinite;
    transform-origin: center;
    animation: glowing 5s linear infinite;
}

@keyframes glowing {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.services>.circle-left {
    position: absolute;
    top: 50px;
    left: -18rem;
}

.services>.circle-left>img {
    width: 70%;
}

.services>.circle-right {
    position: absolute;
    top: 50px;
    right: -18rem;
    z-index: 1;
}

.services>.circle-right>img {
    width: 75%;
}

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .services>.circle-left>img {
        visibility: hidden;
    }

    .services>.circle-right>img {
        width: 80%;
    }
}


/* How it Works Sections */
.how-it-works>.container>.contents {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 80px;
}

.contents>.content-items>.content-card {
    width: 300px;
    height: 320px;
    margin: 18px 5px;
    border-radius: 12px;
    background: var(--white);
    border-top-right-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 14px 26px var(--shadow-4);
    transition: all 0.3s ease-out;
    text-decoration: none;
}

.contents>.content-items>.content-card>img {
    border-radius: 12px;
    filter: brightness(0.9);
}

.contents>.content-items>.cards:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    -webkit-box-shadow: 4px 5px 28px 0px var(--shadow-3);
    -moz-box-shadow: 4px 5px 28px 0px var(--shadow-3);
    box-shadow: 4px 5px 28px 0px var(--shadow-3);
}

.contents>.content-items>.cards:hover .overlay {
    visibility: visible;
    transform: scale(30) translateZ(0);
}

.contents>.content-items>.cards:hover .circles {
    border-color: var(--white);
    background: var(--green-light);
}

.contents>.content-items>.cards:hover .circles:after {
    background: var(--white);
}

.contents>.content-items>.cards:hover h4,
.contents>.content-items>.cards:hover p {
    color: var(--white);
}

.contents>.content-items>.cards:hover .circles>i,
.contents>.content-items>.cards:hover .circles>ion-icon {
    color: var(--green-light);
}

.contents>.content-items>.cards:active {
    transform: scale(1) translateZ(0);
    box-shadow: 0 15px 24px var(--shadow-2),
        0 15px 24px var(--green-teal);
}

.contents>.content-items>.cards h4 {
    font-size: 18px;
    color: var(--red-dark);
    font-weight: 600;
    margin-top: 15px;
    z-index: 1;
    transition: color 0.3s ease-out;
}

.contents>.content-items>.cards p {
    width: 80%;
    text-align: center;
    font-size: 14px;
    color: var(--gray-dark);
    margin-top: 5px;
    z-index: 1;
    transition: color 0.3s ease-out;
}

.contents>.content-items>.cards>.circles {
    width: 68px;
    height: 68px;
    border-radius: 50%;
    background: var(--white);
    border: 2px solid var(--green-light);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-out;
}

.contents>.content-items>.cards>.circles:after {
    content: "";
    width: 55px;
    height: 55px;
    display: block;
    position: absolute;
    background: var(--green-light);
    border-radius: 50%;
    top: 5px;
    left: 5px;
    transition: opacity 0.3s ease-out;
}

.contents>.content-items>.cards>.circles,
.contents>.content-items>.cards>.circles>i,
.contents>.content-items>.cards>.circles>ion-icon {
    color: var(--white);
    font-size: xx-large;
    z-index: 1;
    transform: translateZ(0);
}

.contents>.content-items>.cards>.overlay {
    width: 20px;
    position: absolute;
    height: 20px;
    border-radius: 50%;
    background: var(--green-light);
    top: 55px;
    left: 140px;
    z-index: 0;
    visibility: hidden;
    transition: transform 0.4s ease-out;
}

/* `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    .how-it-works>.container>.contents {
        flex-direction: column;
        justify-content: center;
        padding: 0;
    }

    .how-it-works>.container>.contents>.content-items {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
    }
}

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .how-it-works>.container>.contents>.content-items {
        flex-direction: column-reverse;
        align-items: center;
        gap: 0;
    }

    .how-it-works>.container>.contents>.content-items:nth-child(2) {
        flex-direction: column !important;
    }
}


/* Testimonials Sections */
.testimonials>.container,
.testimonials>.container>.content-testimonials,
.testimonials>.container>.carousel {
    position: relative;
}

.content-testimonials>.one-content {
    display: flex;
    position: relative;
    z-index: 3;
}

.one-content>.hero-content>img {
    width: 450px;
    margin-left: -5rem;
}

.one-content>.text-content {
    width: 520px;
    display: flex;
    flex-direction: column;
}

.one-content>.text-content>.quotes {
    width: 32px;
}

.one-content>.text-content>.user-testimonials {
    display: flex;
    flex-direction: column;
}

.text-content>.user-testimonials>h3 {
    color: var(--cyan-dark-9);
    width: 500px;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.text-content>.user-testimonials>p {
    color: var(--cyan-dark-8);
    font-size: 16px;
}

.text-content>.user-testimonials>.users {
    color: var(--cyan-dark-9);
    font-size: 18px;
    font-style: Bold;
    font-weight: 700;
}

.testimonials>.container>.sun-bg {
    position: absolute;
    z-index: -1;
    object-fit: cover;
    left: -21rem;
    bottom: 0;
}

.carousel>.slider,
.content-testimonials>.slider {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.carousel>.slider {
    z-index: 8;
}

.content-testimonials>.slider {
    z-index: 5;
}

.slider>.icon-slide {
    display: flex;
    justify-content: flex-end;
}

.content-testimonials>.slider>.icon-slide {
    visibility: hidden;
}

.slider>.icon-slide>i {
    margin-right: 10px;
    font-size: x-large;
    opacity: calc(0.4);
}

.slider>.icon-slide>i:hover {
    transition: all 0.7s;
    cursor: pointer;
    opacity: calc(1);
}

.slider-text {
    color: var(--cyan-dark);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.slider>.slider-text {
    text-align: right;
}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .testimonials>.container>.sun-bg {
        left: -32rem;
        bottom: 143px;
    }

    .one-content>.hero-content {
        display: flex;
        justify-content: flex-end;
        margin-top: -5rem;
    }

    .one-content>.hero-content>img {
        margin-left: 0;
    }

    .testimonials {
        padding-bottom: 48px;
    }

    .content-testimonials>.slider {
        position: relative;
        left: 0;
        right: 0;
        margin: 2rem auto 0;
    }

    .content-testimonials>.slider>.slider-text {
        align-items: center;
    }

    .carousel>.slider {
        position: absolute;
        left: 1rem;
        right: 0;
        margin: auto;
        bottom: 5rem;
    }

    .carousel>.slider>.icon-slide {
        justify-content: center;
        gap: 20px;
    }

    .carousel>.slider>.icon-slide>i {
        font-size: 32px;
    }
}

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .testimonials>.container>.sun-bg {
        left: -44rem;
    }

    .one-content>.hero-content {
        margin-top: 0;
    }

    .one-content>.hero-content>img {
        width: 80%;
    }
}


/* Gallery Section */
.image-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 15px;
    grid-template-areas:
        'img-1 img-1 img-2 img-3'
        'img-4 img-5 img-6 img-3'
        'img-4 img-7 img-8 img-8'
        'img-9 img-9 img-10 img-11'
        'img-13 img-12 img-12 img-11';
}

.image-gallery a {
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-gallery a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 15px;
    background-color: var(--black-5);
    opacity: .2;
    transition: .2s ease-in-out;
}

.image-gallery a:hover::before {
    background-color: var(--white);
    opacity: .1;
}

.img-1 {
    grid-area: img-1;
    background-image: url(../img/gallery/blueberry.jpg);
}

.img-2 {
    grid-area: img-2;
    background-image: url(../img/gallery/orange.jpg);
}

.img-3 {
    grid-area: img-3;
    min-height: 515px;
    background-image: url(../img/gallery/apples.jpg);
}

.img-4 {
    grid-area: img-4;
    min-height: 515px;
    background-image: url(../img/gallery/strawberry.jpg);
}

.img-5 {
    grid-area: img-5;
    background-image: url(../img/gallery/mango.jpg);
}

.img-6 {
    grid-area: img-6;
    background-image: url(../img/gallery/oranges.jpg);
}

.img-7 {
    grid-area: img-7;
    background-image: url(../img/gallery/pepper.jpg);
}

.img-8 {
    grid-area: img-8;
    background-image: url(../img/gallery/tomato.jpg);
}

.img-9 {
    grid-area: img-9;
    background-image: url(../img/gallery/tomatoes.jpg);
}

.img-10 {
    grid-area: img-10;
    background-image: url(../img/gallery/grape.jpg);
}

.img-11 {
    grid-area: img-11;
    min-height: 515px;
    background-image: url(../img/gallery/strawberrys.jpg);
}

.img-12 {
    grid-area: img-12;
    background-image: url(../img/gallery/watermelon.jpg);
}

.img-13 {
    grid-area: img-13;
    background-image: url(../img/gallery/quincy.jpg);
}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media screen and (max-width: 991.98px) {
    .image-gallery {
        grid-template-areas:
            'img-1 img-1 img-3 img-3'
            'img-2 img-2 img-3 img-3'
            'img-5 img-5 img-6 img-6'
            'img-8 img-8 img-4 img-4'
            'img-8 img-8 img-7 img-7'
            'img-9 img-10 img-10 img-10'
            'img-11 img-11 img-11 img-12'
            'img-13 img-13 img-13 img-13';
    }

    .image-gallery a {
        height: 200px;
    }

    .img-3,
    .img-8 {
        min-height: 415px;
    }

    .img-4,
    .img-11 {
        min-height: 0; 
    }
}

@media screen and (max-width: 414px) {
    .image-gallery {
        grid-template-areas:
            'img-1 img-1 img-1 img-1'
            'img-2 img-2 img-2 img-2'
            'img-3 img-3 img-3 img-3'
            'img-4 img-4 img-4 img-4'
            'img-5 img-5 img-5 img-5'
            'img-6 img-6 img-6 img-6'
            'img-7 img-7 img-7 img-7'
            'img-8 img-8 img-8 img-8'
            'img-9 img-9 img-9 img-9'
            'img-10 img-10 img-10 img-10'
            'img-11 img-11 img-11 img-11'
            'img-12 img-12 img-12 img-12'
            'img-13 img-13 img-13 img-13';
    }

    .image-gallery a {
        height: 200px;
    }

    .img-1,
    .img-7,
    .img-6,
    .img-9 {
        min-height: 0;
    }
}


/* FAQ Sections */
.faq>.container>.row>.vertical-line {
    border-left: 2px solid var(--orange-peel);
    height: 140px;
    width: 1px;
}

.faq-list>.faq-item {
    padding: 0;
    width: 700px;
    border-radius: 5px;
    padding: 10px 16px;
    background-color: var(--white);
    box-shadow: 0px 12px 30px 0px var(--shadow-1);
}

.faq-list>.faq-item>.btn {
    width: 100%;
    text-align: left;
}

.faq-item>a {
    font-size: 16px;
    position: relative;
}

.faq-item>a>.fa-leaf {
    color: var(--green-primary);
    margin-right: 12px;
}

.faq-item>a>.bi-chevron-down {
    position: absolute;
    right: 10px;
}

.text-accordion {
    font-size: 15px;
    color: var(--cyan-dark);
    padding: 5px 10px 10px;
}

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .faq>.container>.row>.vertical-line {
        height: 160px;
    }

    .faq br {
        display: none;
    }

    .faq-list>.faq-item {
        width: auto;
    }
}


/* Footer Section */
footer>.info {
    display: flex;
    justify-content: flex-start;
    padding: 0 50px;
}

footer>.info>.logo-socmed {
    display: flex;
    flex-direction: column;
}

footer>.socials {
    margin-top: -4rem;
}

.logo-socmed>img {
    width: 150px;
}

.social-links>a {
    font-size: 18px;
    display: inline-block;
    background: var(--gray-light);
    line-height: 1;
    padding: 10px 0;
    margin: 0 12px 12px 0;
    border-radius: 50%;
    text-align: center;
    width: 40px;
    height: 40px;
    transition: 0.3s;
}

.social-links>a>i {
    color: var(--greenish-black);
}

.social-links a:hover {
    background: var(--green-primary);
}

.social-links a:hover>i {
    color: var(--white);
}

.useful-links {
    display: flex;
    justify-content: flex-end;
    padding-left: 4rem;
}

.useful-links>.links-items {
    display: flex;
}

.useful-links>.links-items>.website {
    display: flex;
    margin-right: 100px;
    flex-direction: column;
}

.useful-links>.links-items>.more {
    display: flex;
    flex-direction: column;
}

.useful-links>.links-items>.website>span,
.useful-links>.links-items>.more>span {
    color: var(--greenish-black);
    font-size: 20px;
    font-style: Medium;
    font-weight: 500;
    margin-bottom: 24px;
}

.useful-links>.links-items>.website>.web-links,
.useful-links>.links-items>.more>.more-links {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.useful-links>.links-items>.website>.web-links>a,
.useful-links>.links-items>.more>.more-links>a {
    color: var(--greenish-black);
    margin-bottom: 16px;
    height: auto;
    opacity: 0.80;
    font-size: 16px;
    font-style: Regular;
    font-weight: 400;
    text-decoration: none;
}

.useful-links>.links-items>.website>.web-links>a:hover,
.useful-links>.links-items>.more>.more-links>a:hover {
    color: var(--green-primary);
}

footer>.info>.useful-links>.address {
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.useful-links>.address>.send-mail,
.useful-links>.address>.github {
    display: flex;
    margin-bottom: 24px;
}

.useful-links>.address>.send-mail>i,
.useful-links>.address>.github>i {
    width: 40px;
    height: 40px;
    font-size: x-large;
}

.useful-links>.address>.send-mail>span,
.useful-links>.address>.github>a {
    color: var(--greenish-black);
    padding-top: 4px;
    height: auto;
    font-size: 16px;
    font-style: Regular;
    font-weight: 400;
    text-decoration: none;
}

.address>.github>a:hover {
    color: var(--green-primary);
}

footer>.copyright {
    color: var(--greenish-black);
    margin-top: 6rem;
    font-size: 20px;
    font-style: SemiBold;
    text-align: center;
    font-weight: 600;
}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .useful-links {
        padding-left: 1rem;
    }

    footer>.socials {
        margin-top: 1rem;
    }
}

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .useful-links {
        flex-direction: column-reverse;
    }

    footer>.info>.useful-links>.address {
        margin: 0 0 10px;
    }
}


/* Utility - Back to Top */
ion-icon {
    display: block;
}

.back-top-btn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    background-color: var(--orange-peel);
    color: var(--white);
    font-size: 22px;
    padding: 12px;
    border-radius: 50%;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    transition: 0.25s ease;
}

.back-top-btn.active {
    opacity: 1;
    color: var(--white);
    background-color: var(--orange-peel);
    visibility: visible;
    transform: translateY(-10px);
}

.back-top-btn.active:hover {
    background-color: var(--orange);
}