<nav id="navbar" class="navbar navbar-expand-lg navbar-dark fixed-top" data-header>
    <div class="container">
        <h1 class="navbar-brand fs-2 fw-bold my-auto" href="#">Fruity.</h1>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto mx-4 px-4 my-2 my-lg-0 navbar-nav-scroll"
                style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}#hero">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index') }}#about-us">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('fresh_rotten') }}">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index') }}#faq">FAQ</a>
                </li>
            </ul>
            <a class="btn btn-outline-warning" href="{{ url_for('about') }}" role="button">Contact Us</a>
        </div>
    </div>
</nav>