{% extends 'layouts/base.html' %}

{% block title %}Fruity{% endblock %}

{% block content %}
<main data-bs-spy="scroll" data-bs-target="#navbar" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true"
    class="scrollspy-example" tabindex="0">
    <!-- Hero Section Begin -->
    <section class="canvas" id="hero" style="overflow: hidden;">
        <div class="row container">
            <div class="row">
                <div class="col col-xl-8 col-lg-12 col-md-12 col-sm-12 content-left">
                    <article class="title">
                        <h1>Freshly fruits is Always <br />the right choice</h1>
                        <img src="{{ url_for('static', filename='img/traced-lines.svg') }}" alt="traced-lines" class="traced" />
                    </article>
                    <article class="sub-title">
                        <p> Healthy Lifestyle isn’t a dream now, because we will help you to
                            identify rotten fruit fast, so you get fresh fruit that is certainly
                            safe for consumption.</p>
                        <div class="utils">
                            <a class="btn btn-primary fw-semibold try-now" href="fresh-rotten.html"
                                role="button">Try Now</a>
                            <a class="know-more" href="#how-it-works">Know More <i
                                    class="bi bi-arrow-up-right text-white"></i></a>
                        </div>
                    </article>
                </div>
            </div>
        </div>
        <figure class="row hero-image">
            <div class="overlays"></div>
            <img src="{{ url_for('static', filename='img/hero-image.png') }}" alt="hero image">
        </figure>
    </section>
    <!-- Hero Section End -->

    <!-- About Us Section Begin -->
    <section class="about-us" id="about-us" style="overflow: hidden;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 text-left clearfix">
                    <span>01 • About Us</span>
                    <h2 class="fw-bold mt-1">Helping people to identify rotten <br> fruit fast</h2>
                </div>
                <div class="col-lg-6 text-about mt-4 clearfix">
                    <div class="horizontal-line"></div>
                    <p>Established in 2022, fruity’s goal is to help as many people as we can to identify rotten
                        fruit fast by providing the most accurate predictions possible to increase their
                        productivity.</p>
                    <div class="learn-more mt-5">
                        <a href="about.html">Learn More</a>
                        <i class="bi bi-arrow-up-right"></i>
                    </div>
                    <div class="image-section mt-5">
                        <img src="{{ url_for('static', filename='img/grading-fruits.png') }}" alt="grading fruits">
                    </div>
                </div>
            </div>
            <div class="wrapper clearfix">
                <div class="side-content">
                    <span class="why fw-bold">Why Choose us ?</span>
                    <div class="row rectangle-primary align-items-start">
                        <div class="ellips-left"></div>
                        <div class="row group-text align-items-center">
                            <div class="col-auto text-item one">
                                <span class="text-head fw-semibold">100k+</span>
                                <span class="text-sub-head">People have tried</span>
                            </div>
                            <div class="col-auto text-item two">
                                <span class="text-head fw-semibold">Accurate</span>
                                <span class="text-sub-head">Give accurate results</span>
                            </div>
                            <div class="col-auto text-item three">
                                <span class="text-head fw-semibold">Fast</span>
                                <span class="text-sub-head">Quickly & easily identify</span>
                            </div>
                        </div>
                        <div class="rectangle-secondary"></div>
                        <div class="ellips-right"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-mask mt-5">
            <img src="{{ url_for('static', filename='img/mask.png') }}" alt="mask">
        </div>
    </section>
    <!-- About Us Section End -->

    <!-- Our Service Section Begin -->
    <section class="services" id="services" style="overflow: hidden;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <span class="section-title">02 • Services</span>
                    <h2 class="section-sub-title mt-2">Our Services</h2>
                </div>
            </div>
            <div class="row justify-content-center mt-5">
                <a class="text-decoration-none" href="fresh-rotten.html">
                    <div class="cardBox">
                        <div class="card">
                            <img src="{{ url_for('static', filename='img/fruits-identification-bg.png') }}" class="card-img-top"
                                    alt="people">
                            <div class="card-info">
                                <h5 class="fw-bold">Fresh Fruit Identification</h5>
                                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                    Laudantium itaque, natus porro deserunt quia impedit nobis</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="circle-left">
            <img src="{{ url_for('static', filename='img/ellips.svg') }}" alt="circle-left">
        </div>
        <div class="circle-right">
            <img src="{{ url_for('static', filename='img/ellips.svg') }}" alt="circle-right">
        </div>
    </section>
    <!-- Our Service End -->

    <!-- How it Works Section Begin -->
    <section id="how-it-works" class="how-it-works">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <span class="section-title">03 • How to use</span>
                    <h2 class="section-sub-title mt-2">How It Works?</h2>
                </div>
            </div>
            <article class="row contents g-0">
                <div class="col xl-3 lg-12 md-12 sm-12 content-items marks">
                    <div class="content-card">
                        <img src="{{ url_for('static', filename='img/prepare-fruits.png') }}" alt="people with fruits">
                    </div>
                    <div class="content-card cards card-colors">
                        <div class="overlay"></div>
                        <div class="circles">
                            <i class="fa-solid fa-images"></i>
                        </div>
                        <h4>Prepare Your Image</h4>
                        <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                            unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                </div>
                <div class="col xl-3 lg-12 md-12 sm-12 content-items">
                    <div class="content-card cards card-colors">
                        <div class="overlay"></div>
                        <div class="circles">
                            <ion-icon name="finger-print"></ion-icon>
                        </div>
                        <h4>Identify</h4>
                        <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                            unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                    <div class="content-card">
                        <img src="{{ url_for('static', filename='img/fruits.png') }}" alt="fruits">
                    </div>
                </div>
                <div class="col xl-3 lg-12 md-12 sm-12 content-items marks">
                    <div class="content-card">
                        <img src="{{ url_for('static', filename='img/holding-fruits.png') }}" alt="holding-fruits">
                    </div>
                    <div class="content-card cards card-colors">
                        <div class="overlay"></div>
                        <div class="circles">
                            <i class="fa-brands fa-apple"></i>
                        </div>
                        <h4>Result</h4>
                        <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                            unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                </div>
            </article>
        </div>
    </section>
    <!-- How it Works End -->

    <!-- Testimonial Section Begin -->
    <section id="testimonials" class="testimonials" style="overflow: hidden;">
        <div class="container">
            <img class="sun-bg" src="{{ url_for('static', filename='img/sun-background.svg') }}" alt="background-sun">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <span class="section-title">04 • Testimonials</span>
                    <h2 class="section-sub-title mt-2">What People Say About Us</h2>
                </div>
            </div>
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="slider">
                    <div class="icon-slide">
                        <i class="bi bi-arrow-left" data-bs-target="#carouselExampleCaptions"
                            data-bs-slide="prev"></i>
                        <i class="bi bi-arrow-right" data-bs-target="#carouselExampleCaptions"
                            data-bs-slide="next"></i>
                    </div>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <article class="content-testimonials mt-5">
                            <div class="row one-content">
                                <div class="col-lg-4 text-content">
                                    <img src="{{ url_for('static', filename='img/quotes.png') }}" alt="quote" class="quotes" />
                                    <div class="user-testimonials">
                                        <h3>Saves 3x faster time for sorting fresh fruit after using Fruity</h3>
                                        <p>
                                            Ever since i work with Fruity, the fresh fruit sorting goes very
                                            quickly, so I can save a lot of time doing other work.
                                        </p>
                                        <div class="users mt-4">
                                            <span>Ismira Shafa Salsabilla</span>
                                            <br />
                                            <span>Brawijaya University Student’s</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 hero-content">
                                    <img src="{{ url_for('static', filename='img/feedback/ismira.png') }}" alt="ismira">
                                </div>
                            </div>
                            <div class="slider">
                                <div class="icon-slide">
                                    <i class="bi bi-arrow-left"></i>
                                    <i class="bi bi-arrow-right"></i>
                                </div>
                                <div class="slider-text">
                                    <h4>Testimonial 01</h4>
                                    <p>out of <span>04</span> testimonials</p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="carousel-item">
                        <article class="content-testimonials mt-5">
                            <div class="row one-content">
                                <div class="col-lg-4 text-content">
                                    <img src="{{ url_for('static', filename='img/quotes.png') }}" alt="quote" class="quotes" />
                                    <div class="user-testimonials">
                                        <h3>Saves 3x faster time for sorting fresh fruit after using Fruity</h3>
                                        <p>
                                            Ever since i work with Fruity, the fresh fruit sorting goes very
                                            quickly, so I can save a lot of time doing other work.
                                        </p>
                                        <div class="users mt-4">
                                            <span>Mayrieta Maharani Jazza</span>
                                            <br />
                                            <span>Gadjah Mada University Student’s</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 hero-content">
                                    <img src="{{ url_for('static', filename='img/feedback/amay.png') }}" alt="amay">
                                </div>
                            </div>
                            <div class="slider">
                                <div class="icon-slide">
                                    <i class="bi bi-arrow-left"></i>
                                    <i class="bi bi-arrow-right"></i>
                                </div>
                                <div class="slider-text">
                                    <h4>Testimonial 02</h4>
                                    <p>out of <span>04</span> testimonials</p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="carousel-item">
                        <article class="content-testimonials mt-5">
                            <div class="row one-content">
                                <div class="col-lg-4 text-content">
                                    <img src="{{ url_for('static', filename='img/quotes.png') }}" alt="quote" class="quotes" />
                                    <div class="user-testimonials">
                                        <h3>Saves 3x faster time for sorting fresh fruit after using Fruity</h3>
                                        <p>
                                            Ever since i work with Fruity, the fresh fruit sorting goes very
                                            quickly, so I can save a lot of time doing other work.
                                        </p>
                                        <div class="users mt-4">
                                            <span>Octavia Allita Rosya</span>
                                            <br />
                                            <span>University of Indonesia</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 hero-content">
                                    <img src="{{ url_for('static', filename='img/feedback/alita.png') }}" alt="leeta">
                                </div>
                            </div>
                            <div class="slider">
                                <div class="icon-slide">
                                    <i class="bi bi-arrow-left"></i>
                                    <i class="bi bi-arrow-right"></i>
                                </div>
                                <div class="slider-text">
                                    <h4>Testimonial 03</h4>
                                    <p>out of <span>04</span> testimonials</p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="carousel-item">
                        <article class="content-testimonials mt-5">
                            <div class="row one-content">
                                <div class="col-lg-4 text-content">
                                    <img src="{{ url_for('static', filename='img/quotes.png') }}" alt="quote" class="quotes" />
                                    <div class="user-testimonials">
                                        <h3>Saves 3x faster time for sorting fresh fruit after using Fruity</h3>
                                        <p>
                                            Ever since i work with Fruity, the fresh fruit sorting goes very
                                            quickly, so I can save a lot of time doing other work.
                                        </p>
                                        <div class="users mt-4">
                                            <span>Sandra Lia Dwi Monica</span>
                                            <br />
                                            <span>State Polytechnic of Malang Student's</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 hero-content">
                                    <img src="{{ url_for('static', filename='img/feedback/sandra.png') }}" alt="sandra">
                                </div>
                            </div>
                            <div class="slider">
                                <div class="icon-slide">
                                    <i class="bi bi-arrow-left"></i>
                                    <i class="bi bi-arrow-right"></i>
                                </div>
                                <div class="slider-text">
                                    <h4>Testimonial 04</h4>
                                    <p>out of <span>04</span> testimonials</p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonial End -->

    <!-- FAQ Section Begin -->
    <section id="faq" class="faq">
        <div class="container">
            <div class="row">
                <div class="col-1 vertical-line"></div>
                <div class="col-11">
                    <span class="section-title">05 • FAQ</span>
                    <h2 class="section-sub-title mt-2">Any questions?</h2>
                    <p class="mt-3">If you have any questions, you may find your answer on this FAQ.<br>
                        Not answered yet ? email us on <span class="fw-bold">muhammad.himawan73@gmail.com</span></p>
                </div>
            </div>
            <article class="faq-list mt-4">
                <div class="faq-item mb-3">
                    <a class="btn" data-bs-toggle="collapse" href="#collapseExample1" role="button"
                        aria-expanded="false" aria-controls="collapseExample1">
                        <i class="fa-solid fa-leaf"></i>How Fruity can help my business?<i
                            class="bi bi-chevron-down fw-bold"></i>
                    </a>
                    <div class="collapse" id="collapseExample1">
                        <div class="text-accordion">
                            Some placeholder content for the collapse component. This panel is hidden by default but
                            revealed when the user activates the relevant trigger.
                        </div>
                    </div>
                </div>
                <div class="faq-item mb-3">
                    <a class="btn" data-bs-toggle="collapse" href="#collapseExample2" role="button"
                        aria-expanded="false" aria-controls="collapseExample2">
                        <i class="fa-solid fa-leaf"></i>What are the advantages of fruity service?<i
                            class="bi bi-chevron-down fw-bold"></i>
                    </a>
                    <div class="collapse" id="collapseExample2">
                        <div class="text-accordion">
                            Some placeholder content for the collapse component. This panel is hidden by default but
                            revealed when the user activates the relevant trigger.
                        </div>
                    </div>
                </div>
                <div class="faq-item mb-3">
                    <a class="btn" data-bs-toggle="collapse" href="#collapseExample3" role="button"
                        aria-expanded="false" aria-controls="collapseExample3">
                        <i class="fa-solid fa-leaf"></i>How to use fruity service?<i
                            class="bi bi-chevron-down fw-bold"></i>
                    </a>
                    <div class="collapse" id="collapseExample3">
                        <div class="text-accordion">
                            Some placeholder content for the collapse component. This panel is hidden by default but
                            revealed when the user activates the relevant trigger.
                        </div>
                    </div>
                </div>
                <div class="faq-item mb-3">
                    <a class="btn" data-bs-toggle="collapse" href="#collapseExample4" role="button"
                        aria-expanded="false" aria-controls="collapseExample4">
                        <i class="fa-solid fa-leaf"></i>What fruits can be identified by Fruity?<i
                            class="bi bi-chevron-down fw-bold"></i>
                    </a>
                    <div class="collapse" id="collapseExample4">
                        <div class="text-accordion">
                            Some placeholder content for the collapse component. This panel is hidden by default but
                            revealed when the user activates the relevant trigger.
                        </div>
                    </div>
                </div>
                <div class="faq-item mb-3">
                    <a class="btn" data-bs-toggle="collapse" href="#collapseExample5" role="button"
                        aria-expanded="false" aria-controls="collapseExample5">
                        <i class="fa-solid fa-leaf"></i>What images are allowed to be uploaded?<i
                            class="bi bi-chevron-down fw-bold"></i>
                    </a>
                    <div class="collapse" id="collapseExample5">
                        <div class="text-accordion">
                            Some placeholder content for the collapse component. This panel is hidden by default but
                            revealed when the user activates the relevant trigger.
                        </div>
                    </div>
                </div>
                <div class="faq-item mb-3">
                    <a class="btn" data-bs-toggle="collapse" href="#collapseExample6" role="button"
                        aria-expanded="false" aria-controls="collapseExample6">
                        <i class="fa-solid fa-leaf"></i>How many times can I use fruity service?<i
                            class="bi bi-chevron-down fw-bold"></i>
                    </a>
                    <div class="collapse" id="collapseExample6">
                        <div class="text-accordion">
                            Some placeholder content for the collapse component. This panel is hidden by default but
                            revealed when the user activates the relevant trigger.
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
    <!-- FAQ Section End -->
</main>
{% endblock %}

{% block footer %}
{% include 'includes/footer-index.html' %}
{% endblock %}   